body{
    background: var(--off-black);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{    
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33rem;
    padding: 2rem;
    border-radius: 1rem;
    transition: 0.7s;
}

@media only screen and (min-width: 500px) {
    .container{
        transition: 1s;
        width: 40rem;
    }
}

.container .perfil{
    font-size: var(--texto-simples);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.container .perfil img{
    width: 8rem;
    border-radius: 999px;
}

.container .perfil .informacoes{
    text-align: center;
    color: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 3.3rem;
}

.perfil .informacoes .nome{
    font-weight: 600;
}

.perfil .informacoes .biografia{
    padding: 1.5rem 0;
    line-height: normal;
}

.perfil .informacoes .localizacao{
    color: var(--green);
    font-weight: 600;
}

.container .lista-links{
    width: 100%;
    margin-top: 1rem;
}

.container .lista-links ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
}

.lista-links ul .links{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.lista-links ul .links a{
    background-color: var(--grey);
    width: 100%;
    padding: 1.3rem;
    border-radius: 1rem;
    color: var(--white);
    font-size: var(--texto-simples);
    font-weight: 600;
}

.lista-links ul .links a:hover{
    background-color: var(--green);
    color: var(--dark-grey);
}